<ion-view view-title="Manual">
  <ion-content class="padding">

    <h2>Manual Mode</h2>

    <h3>Manual Off/On</h3>
    <div>
      <button class="button button-block" ng-click="turnOn()">Turn ON</button>
      <button class="button button-block" ng-click="turnOff()">Turn OFF</button>
    </div>

    <h3>Blink</h3>
    <div>
      <div class="item range">
        <input type="range" name="blinkSpeed" ng-model="blinkSpeed" min="0" max="1500">
      </div>
      Speed in ms: {{blinkSpeed}}
      <button class="button button-block" ng-click="blinkStart(blinkSpeed)">Start Blink</button>
      <button class="button button-block" ng-click="blinkStop(blinkSpeed)">Stop Blink</button>
    </div>

  </ion-content>
</ion-view>
